VITE_PROJECT_ACCESS_KEY='AQAAAAAAAJI3mbjJwME0ozwA1N48Y475AXA'
VITE_WAAS_CONFIG_KEY='eyJwcm9qZWN0SWQiOjM3NDMxLCJycGNTZXJ2ZXIiOiJodHRwczovL3dhYXMuc2VxdWVuY2UuYXBwIn0='

# Optional: Polygon Indexer key used to show balances in the UI.
VITE_POLYGON_INDEXER_ACCESS_KEY=''
